*{
    margin: 0;
}
body {
    background-color: #2e2e2e;
    font-family: verdana;
    font-weight: 400;
}
p{
    color: #f5f5f5;
}
.box{
    width: 60%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
.text { 
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.logo-name{
    color: #111;
}

.navbar{
    height: 50px;
    background-color: rgb(117, 117, 117);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.about-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}
.contact-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}
label{
    color: white;
}
@media screen and (max-width: 600px){
    .logo-name{
        width: 0%;
        display: none;
    }
    .box{
        width: 0%;
    }
    .navbar{
        padding-left: 0;
        justify-content: center;
    }
   

}

@media screen and (max-width: 460px){
    .logo-container{
        height: 300px;
    }
    
    
}